body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.border {
  border-color: black;
  border-radius: 5px;
  background-color: whitesmoke -10%;
  width: 100%;
  height: 100%;

  position: relative;
}

.hover {
  display: flex;
}

.imgT {
  top: 80%;
  left: 20%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(4%, 36%);
}

.imgB {
  border: 5px solid rgb(228, 228, 228) !important;
  border-radius: 50%;
  padding: 5px;
  border-width: 1px !important;

  background-color: ghostwhite;
}

.target {
  position: absolute;
  border-bottom: 4px solid transparent;
  z-index: -1;
  transform: translateX(-60px);
}

.hover,
.target {
  transition: all 0.35s ease-in-out;
}
